.fahrplan {
  list-style-type: none;
  padding: 0px;
}

.fahrplanItem {
  border: 1px solid var(--DbahnRot);
  border-radius: 10px;
  margin: 5px;
  padding: 7px 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.keinFahrplanVorhanden {
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
}

.gleis-row {
  margin-bottom: 5px;
}

.gleis {
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--DbahnRot);
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: 500;
  background-color: var(--DbahnRot);
  margin-top: 5px;
  color: white;
}

.zugZeiten {
  font-size: 2rem;
}

.abfahrt {
  text-align-last: right;
}

.zugBezeichnung {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fahrplan-header {
  font-size: 1.25rem;
  font-weight: 500;
}

.von-nach {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
}