:root {
    --DbahnRot: rgba(240,12,12,255)
}
.DbahnBorder {
    border-left: 6px solid var(--DbahnRot);
    border-top: 6px solid var(--DbahnRot);
    border-right: 6px solid var(--DbahnRot);
}
.DbahnBorderBottom {
    border-bottom: 2px solid var(--DbahnRot);
}
.DbahnBackground {
    background-color: var(--DbahnRot);
}
.DbahnText {
    color: var(--DbahnRot);
    -webkit-text-stroke: 1px white;
}
.kastenBG {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px 10px 0px 0px;
}
.kastenBG2 {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px 0px 0px 10px;
}
#fehlerMeldung {
    background:orange;
    position:fixed;
    bottom:20px;
    left:0px;
    z-index:999;
    padding:12px;
}
.bg-ice1 {
    background-image: url(/assets/pics/ice1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-suche-pic {
    background: url('/assets/pics/ice1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.bg-stopplace-pic {
    background: url('/assets/pics/sbahn.jpg') no-repeat center center fixed;
    background-size: cover;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.map {
    height: 100%;
    width: 100%;
}

.searchResultLink {
    color: black;
    text-decoration: none;
}
.searchResultLink:hover {
    color: black;
    text-decoration: none;
}

.fehlermeldung {
    font-weight: 600;
    font-size: 2rem;
}

.favourite-icon {
    line-height: 2rem;
    font-weight: 600;
    font-size: 2rem;
    height: 2.8rem;
}